body {
    margin: 0;
    font-family: Roboto, 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template: 2fr 9fr / 2fr 7fr;
}

.sidebar {
    background-color: #0592d8;
    color: #fff;
    font-weight: 600;
    grid-row: span 2;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
    padding: .5rem;
}

.sidebar-title {
    font-size: 2rem;
    font-weight: 700;
    align-content: start;
    padding-top: 0.5rem;
}

.sidebar-title,
.side-nav>li>a {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    /* grid-template-columns: 1fr 4fr; */
    grid-template-columns: 2fr 7fr;
}

.sidebar-svg {
    justify-self: center;
    width: 1.25em;
}

.sidebar-svg-title {
    justify-self: center;
    width: 2em;
    width: 1.75em;
}

ul.side-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    align-content: start;
    gap: 1em;
}

.side-nav>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
}

.header {
    display: grid;
    grid-template: 3fr 5fr / 5fr 3fr;
    padding: 1em 2em;
    padding-right: 4em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px;
    font-size: 1.125em;
}


.search {
    display: grid;
    align-items: center;
    grid-template-columns: 2rem 1fr;
    gap: .375em;
    /* padding-bottom: 1rem; */
}

.search img {
    width: 1.375rem;
    cursor: pointer;
}

.search-btn {
    background-color: transparent;
    border: 0;
}

.search-bar {
    background-color: rgba(184, 204, 227, 0.5);
    border: 0;
    border-radius: 24px;
    padding: 4px 12px;
    font-size: 1rem;
}

.header-user {
    background-color: #fff;
    display: grid;
    grid-auto-flow: column;
    font-weight: 700;
    font-size: 1.125em;
    justify-content: end;
    align-items: center;
    gap: 1.5em;
}

.header-user img:first-of-type {
    width: 1.25em;
}

.header-user img:last-of-type {
    width: 2.25em;
}

.greetings {
    background-color: #fff;
    display: grid;
    grid-template: 1fr 1fr / 1fr 5fr;
    font-weight: 700;
    align-items: end;
}

.greetings img {
    width: 4em;
    grid-row: 2 span;
    justify-self: center;
}

.greetings div.text:first-of-type {
    font-size: 0.75em;
}

.greetings div.text:last-of-type {
    align-self: center;
    font-size: 1.375em;
}

.header-buttons {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: end;
    margin-top: 2em;
    gap: 1.75em;
}

.btn {
    color: #fff;
    background-color: #0ea5e9;
    font-weight: 600;
    height: 34px;
    width: 88px;
    border: 1px solid #0ea5e9;
    border-radius: 16px;
    cursor: pointer;
}

.main {
    background-color: rgba(184, 204, 227, 0.5);
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    padding: 1.25rem;
    gap: 1.5rem;
}

.section-label {
    font-weight: 500;
    font-size: 1.125rem;
    padding: .5rem .25rem;
}

.projects {
    grid-row: span 2;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.card {
    background-color: #fff;
    /* border-left: 8px solid rgba(240, 46, 170, 0.9); */
    border-left: 8px solid rgba(14, 165, 233, 0.9);
    height: 160px;
    border-radius: 12px;
    display: grid;
    padding: 16px 24px;
    gap: 2px;
    grid-template-rows: 1fr 3fr 1fr;
    /* normal shadow */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* highlighted layers colored */
    /* neon pink */
    /* box-shadow: rgba(240, 46, 170, 0.4) -3px 4px, rgba(240, 46, 170, 0.3) -6px 8px, rgba(240, 46, 170, 0.2) -9px 12px, rgba(240, 46, 170, 0.1) -12px 16px, rgba(240, 46, 170, 0.05) -15px 20px; */
    /* light-blue */
    /* box-shadow: rgba(5, 146, 216, 0.4) -3px 4px, rgba(5, 146, 216, 0.3) -6px 8px, rgba(5, 146, 216, 0.2) -9px 12px, rgba(5, 146, 216, 0.1) -12px 16px, rgba(5, 146, 216, 0.05) -15px 20px; */
    box-shadow: rgba(14, 165, 233, 0.4) -3px 4px, rgba(14, 165, 233, 0.3) -6px 8px, rgba(14, 165, 233, 0.2) -9px 12px, rgba(14, 165, 233, 0.1) -12px 16px, rgba(14, 165, 233, 0.05) -15px 20px;

}

.card-title {
    font-weight: 600;
    font-size: 1.125em;
    align-self: end;
    color: #1f1f1f;
}

.card-text {
    font-size: 0.875em;
    color: #6f6f6f;
}

.card-buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 1.5rem;
    align-items: start;
}

.card-buttons>* {
    width: 22px;
}

.main-right {
    display: grid;
    gap: 1.5rem;
}

.news-box,
.trending-box {
    display: grid;
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.news-box {
    align-content: center;
    /* gap: max(0.35rem, 0.35vw); */
    gap: 0.35rem;
}

.sub-card {
    padding: 0.125rem 0.5rem;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #cfcfcf;
}

.sub-title,
.user-name {
    font-size: 0.75rem;
    font-weight: 600;
    color: #1f1f1f;
}

.sub-text,
.user-text {
    font-size: 0.625rem;
    color: #6f6f6f;
}

.trending-box {
    max-height: calc(100% - 2.5rem);
    /* grid-template: repeat(auto-fit, minmax(2rem 1fr)), 1fr 4fr; */
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 1fr 1px) 1fr;
    /* grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr)); */
    gap: .5rem;
    align-items: center;
}

.trending-box hr {
    grid-column: 2 span;
    width: 5%;
}

.user-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    grid-column: 2 span;
    align-content: center;
}

.user-card>img {
    width: 2.5rem;
}

.user-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.user-name {
    font-weight: 500;
}

.user-text {
    font-size: 0.75rem;
}